.header {
    background: $bg-light;
    padding: .6rem 0 .8rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    box-shadow: 0 0px 5px rgba(0,0,0,.1);

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & .container {
        position: relative;
    }

    &-topline {
        margin-bottom: 0.6rem;
        .cabinet {
            display: flex;
            justify-content: flex-end;
        
            &__link {
                display: flex;
                align-items: center;
                font-size: rem(14);
        
                &:hover {
                    color: $colored-text;
                }
                &::before {
                    content: '';
                    display: block;
                    width: 1em;
                    height: 100%;
                    margin-right: .3rem;
                    background: url(../img/user.png) no-repeat center center;
                    background-size: contain;
                }
            }
        }
    }

    .searchform {
        max-width: 250px;
        height: 35px;
        margin: 0 .7rem;
        position: relative;
        
        &__input {
            border: 1px solid $border-color;
            width: 100%;
            height: 100%;
            padding: 0 45px 0 1rem;
        }
        &__btn {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            background: transparent;
            width: 35px;
            font-size: rem(21);
            color: $main-color;
            transition: all .2s;
            
            &:hover {
                color: $main-active;
            }
        }
    }
    .logo {
        display: block;
        width: max-content;
        margin: 0 auto;
        &__img {
            object-fit: contain;
            width: 55px;
        }
    }

    .lang {
        
        &__box {
            margin-left: auto;
            width: fit-content;
            position: relative;
            padding-right: 15px;

            ul {
                display: flex;
                li {
                    display: flex;

                    &:first-child {
                        &::after {
                            content: "";
                            display: block;
                            margin: 0 .5rem;
                            width: 2px;
                            height: 100%;
                            background: $dark-border-color;
                        }
                    }
                    
                    span {
                        color: $colored-text;
                        font-weight: bold;
                        cursor: context-menu;
                    }

                    a {
                        

                        &:hover {
                            color: $colored-text;
                        }
                    }
                }
            }

            &.active {
                ul {
                    li:nth-child(2) {
                        display: block;
                    }
                }
            }
        }

        &__arrow {
            position: absolute;
            top: 0;
            right: 0;
            width: 8px;
            font-size: rem(8);
            text-align: center;
            transform: rotate(90deg);
        }
    }
    .cart-small {
        cursor: pointer;
        width: max-content;
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &__icon {
            width: 34px;
            height: 36px;
            padding: 0;
            background: url(../img/cart-icon.svg) no-repeat center center;
            background-size: contain;
            margin-left: .5rem;
        }
        &.open {
            .cart-small__icon {
                background: url(../img/cart-icon-open.svg) no-repeat center center;
                background-size: contain;
            }
        }
    }
    
    .hamburger {
        width: 24px;
        height: 19px;
        position: relative;
        background: transparent;

        span {
            width: 24px;
            height: 3px;
            position: absolute;
            background: $main-color;
            transition: all .5s;
            &:nth-child(1) {
                left: 0;
                top: 0;
            } 
            &:nth-child(2) {
                left: 0;
                top: 8px;
            } 
            &:nth-child(3) {
                left: 0;
                top: 16px;
            } 
        }

        &.active {
            span {
                &:nth-child(1) {
                    transform: rotate(225deg) translate(-5px,-6px);
                    background: $main-active;
                } 
                &:nth-child(2) {
                    background: $main-active;
                    transform: scale(0);
                }
                &:nth-child(3) {
                    transform: rotate(-225deg) translate(-5px, 7px);
                    background: $main-active;
                } 
            }
        }
    }
}

.menu {
    position: fixed;
    padding: 120px 0 1.5rem;
    width: 100%;
    background: $bg-light;
    left: 0;
    top: 0;
    border-bottom: 1px solid $border-color;
    z-index: 9;
    transform: translate(0, -100%);
    transition: all .6s;

    &.active {
        transform: translate(0, 0);
    }

    .mobile-lang {
        &__list {
            display: flex;
            justify-content: center;
            
            li {
                margin: 0 .5rem 1rem;
                font-weight: bold;

                span {
                    color: $colored-text;
                    text-decoration: underline;
                }

                a {
                    &:hover {
                        color: $colored-text;
                    }
                }
            }
        }
    }

    &__list {
        display: flex;
        
        li {
            margin-right: 2rem;
            

            a {
                color: $main-text-color;
                font-weight: bold;

                &:hover {
                    color: $colored-text;
                }
                &.active {
                    color: $colored-text;
                }
            }
        }
    }
}