// Size

$mainFontSize          : 16px;


// Main colors
$main-text-color       : #333333;
$colored-text          : #D1A655;
$main-color            : #333333;
$main-soft-color       : #666666;
$main-light-color      : #fff;
$main-red-color        : #da1515;
$main-active           : #D1A655;

$dark-grey-color       : #cecece;
$light-grey-color      : #eee;

$bg-color              : #fff;
$bg-light              : #fff;
$bg-dark               : #472E2C;
$bg-medium             : #f4f4f4;

$border-color          : #EEEEEE;
$remove-color          : #AAAAAA;
$remove-active-color   : #a00000;

$title-colored         : #472E2C;

// flaticons

$font-Flaticon-instagram: "\f100";
$font-Flaticon-facebook: "\f101";
$font-Flaticon-telegram: "\f102";
$font-Flaticon-youtube: "\f103";
$font-Flaticon-viber: "\f104";
$font-Flaticon-phone-call: "\f105";
$font-Flaticon-call: "\f106";
$font-Flaticon-phone-call-1: "\f107";
$font-Flaticon-smartphone: "\f108";
$font-Flaticon-shopping-cart: "\f109";
$font-Flaticon-shopping-cart-1: "\f10a";
$font-Flaticon-rubbish: "\f10b";
$font-Flaticon-delete: "\f10c";
$font-Flaticon-next: "\f10d";
$font-Flaticon-magnifying-glass: "\f10e";
$font-Flaticon-search: "\f10f";